<!-- 
This handlebar file will be rendered when the following route is hit: GET http://localhost:3000/
 -->

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NYC Council Project Explorer App</title>
    <link rel="stylesheet" href="/public/css/projects.css" />
    
    
  </head>

  <body>
    <main>

      {{>navbar}}
      {{! <section class="home-page-background">PROJECT PAGE</section> }}
      <div class="projects-page">
      <div class="tab-container">
        <button
          class="tab-link active"
          data-tab="tableTab"
        >Table</button>
        <button class="tab-link" data-tab="pieTab">Pie Chart</button>
        <button class="tab-link" data-tab="barTab" >Bar Chart</button>
      </div>
         <div id= "tableTab" class="tab-content" style="display: block;">
            <form id="filterForm" class="table-filters">
              <select id="searchBorough" name="borough" class="input-select">
                <option value="">All Boroughs</option>
                {{#each boroughValues}}
                <option value="{{this}}" {{#if (eq ../selected.borough this)}}selected{{/if}}>{{this}}</option>
                {{/each}}
              </select>
            
              <select id="searchFy" name="fy" class="input-select">
                <option value="">All Fiscal Years</option>
                {{#each fiscalYears}}
                <option value="{{this}}" {{#if (eq ../selected.fy this)}}selected{{/if}}>{{this}}</option>
                {{/each}}
              </select>
            
              <select id="searchDistrict" name="district" class="input-select">
                <option value="">All Council District</option>
                {{#each councilDistrict}}
                <option value="{{this}}" {{#if (eq ../selected.district this)}}selected{{/if}}>{{this}}</option>
                {{/each}}
              </select>
            
              <select id="searchNieghborhood" name="neighborhood" class="input-select">
                <option value="">All Neighborhood</option>
                {{#each neighborhoodValues}}
                <option value="{{this}}" {{#if (eq ../selected.neighborhood this)}}selected{{/if}}>{{this}}</option>
                {{/each}}
              </select>
            
              <input id="searchSponsor" name="sponsor" type="text" value="{{selected.sponsor}}" placeholder="Search Sponsor..."
                class="input-text" />
            
              <button type="button" id="searchFilters" class="primary-button">Search</button>
              <button type="button" id="resetFilters" class="secondary-button">Clear All Filters</button>
            </form>

            <div class="table-container">
              <div class="table-scroll-container">
              <table id="budgetTable" class="table" >
                <thead>
                  <tr>
                    <th>Project Description</th>
                    <th>Project Id</th>
                    <th>Borough</th>
                    <th>Amount ($)</th>
                    <th>Sponsor</th>
                    <th>Reported Year</th>
                    <th>Fiscal Year</th>
                    <th>Counsil District</th>
                    <th>Neighborhoods</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each projects}}
                    <tr>
                      <td><a href="/projects/{{this.id}}">{{this.description}}</a></td>
                      <td>{{this.id}}</td>
                      <td>{{this.borough_full}}</td>
                      <td>{{this.award_formatted}}</td>
                      <td>{{this.sponsor}}</td>
                      <td>{{this.reported}}</td>
                      <td>{{this.fiscal_year}}</td>
                      <td>{{this.council_district}}</td>
                      <td>
                        {{#if this.neighborhoods}}
                        {{this.neighborhoods}}
                        {{else}}
                        N/A
                        {{/if}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
              <div class="pagination-controls">
                {{#if totalPages}}
                {{#each (range 1 totalPages)}}
                <a href="/projects?page={{this}}
                          {{#if ../selected.borough}}&borough={{../selected.borough}}{{/if}}
                          {{#if ../selected.fy}}&fy={{../selected.fy}}{{/if}}
                          {{#if ../selected.district}}&district={{../selected.district}}{{/if}}
                          {{#if ../selected.neighborhood}}&neighborhood={{../selected.neighborhood}}{{/if}}
                          {{#if ../selected.sponsor}}&sponsor={{../selected.sponsor}}{{/if}}"
                  class="page-link {{#if (eq ../currentPage this)}}active{{/if}}">
                  {{this}}
                </a>
                {{/each}}
                {{/if}}
              </div>

              </div>
            </div>
          </div>

            <div id="pieTab" class="tab-content" style="display: none;">
              <div class="table-filters">
              <select id="pieSearchBorough" class="input-select">
                <option value="">All Boroughs</option>
                {{#each boroughValues}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>

              <select id="pieSearchFy" class="input-select">
                <option value="">All Fiscal Years</option>
                {{#each fiscalYears}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>

              <select id="pieSearchDistrict" class="input-select">
                <option value="">All Counsil District</option>
                {{#each councilDistrict}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>

              <select id="pieSearchNieghborhood" name="neighborhood" class="input-select">
                <option value="">All Neighborhood</option>
                {{#each neighborhoodValues}}
                <option value="{{this}}" {{#if (eq ../selected.neighborhood this)}}selected{{/if}}>{{this}}</option>
                {{/each}}
              </select>
              <input id="pieSearchSponsor" type="text" placeholder="Search Sponsor..." class="input-text"/>
              <button id="pieSearchFilters" class="primary-button">Search</button>
              <button id="pieResetFilters" class="secondary-button">Reset</button>
            </div>
              <div class = "pieDimensions">
              <label for="groupByDropdown">Group By:</label>
              <select id="groupByDropdown" class="input-select">
                <option value="borough_full">Borough</option>
                <option value="reported">Reported Year</option>
                {{!-- <option value="councilDistrict">Council District</option> --}}
              </select>
              <label for="awardRangeSelect">Award Range:</label>
              <select id="awardRangeSelect" class="input-select">
                <option value="lt_50000" selected>Less than $50,000</option>
                <option value="50000_to_74999">$50,000 - $74,999</option>
                <option value="75000_to_99999">$75,000 - $99,999</option>
                <option value="100000_to_124999">$100,000 - $124,999</option>
                <option value="125000_to_149999">$125,000 - $149,999</option>
                <option value="150000_to_199999">$150,000 - $199,999</option>
                <option value="200000_to_299999">$200,000 - $299,999</option>
                <option value="300000_to_499999">$300,000 - $499,999</option>
                <option value="500000_to_699999">$500,000 - $699,999</option>
                <option value="699999">Greater than $699,999</option>
              </select>
              </div>
              <canvas id="pieChartCanvas" class="pieChartCanvas" width="400" height="400"></canvas>
              <p id="noPieDataMessage" style="display: none; text-align: center;">
                No data available for the selected filters.
              </p>

            </div>

            
            <div id="barTab" class="tab-content" style="display: none;">
              <div class="filter-controls">
                <label for="yearRangeStart">From:</label>
                <input type="range" id="yearRangeStart" min="{{yearRange.minYear}}" max="{{yearRange.maxYear}}" value="{{yearRange.minYear}}" />

                <label for="yearRangeEnd">To:</label>
                <input type="range" id="yearRangeEnd" min="{{yearRange.minYear}}" max="{{yearRange.maxYear}}" value="{{yearRange.maxYear}}" />

                <div id="yearRangeDisplay">FY{{yearRange.minYear}} - FY{{yearRange.maxYear}}</div>
                <span id="yearError" style="color: red; display: none;">ERROR: From year cannot be greater than To year.</span>
                <select id="filterBorough">
                  <option value="">All Boroughs</option>
                  {{#each boroughValues}}
                  <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
            
                <select id="filterDistrict">
                  <option value="">All Districts</option>
                  {{#each councilDistrict}}
                  <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
            
                <button id="applyBarFilters" class="primary-button">Apply</button>
                <button id="resetBarFilters" class="secondary-button">Clear</button>

              </div>
            
              <canvas id="barChartCanvas" width="1000" height="1000"></canvas>
              <p id="noBarDataMessage" style="display: none; text-align: center;">
                No data available for the selected filters.
              </p>
            </div>

          
      </div>
      </div>

      {{>footer}}
    </main>
    <script src="/public/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </body>

</html>
